<% provide :title, "Sign In" %>

<div class="span6 offset4">
  <h1>Sign In</h1>

  <%= form_for :session, url: sessions_path do |f| %>
    <div><%= f.label :username %>
    <%= f.text_field :username, autofocus: true %></div>
    
    <div><%= f.label :password %>
    <%= f.password_field :password %></div>
    
    <div><%= f.submit "Sign In", class: "btn btn-primary" %></div>
  <% end %>
</div>