<% provide :title, "Lesson" %>

<span id="error" style="color: red;"></span>
<div id="lesson" class="span10 offset1">
  <div class="progress progress-striped active">
    <div class="bar"></div>
  </div>
  <div>
    <%= form_for @lesson do |f| %>
      <%= f.fields_for :lesson_words do |lesson_word_field| %>
        <div id="lesson_word_<%= lesson_word_field.object.id %>">
          <h4><%= lesson_word_field.object.word.content %></h4>
          <% lesson_word_field.object.word.word_answers.each do |word_answer| %>
            <%= lesson_word_field.radio_button :word_answer_id, word_answer.id || 1 %>
            <span><%= word_answer.content %></span><br />
          <% end %><br />
          <button class="btn btn-default next_lesson_word_btn">Next</button>
        </div>
      <% end %><br />
      <%= f.submit "Submit to complete the lesson", class: "btn btn-medium btn-primary" %>
    <% end %>
  </div>
</div>