<div id="word_list">
  <div class="span12 offset1">
    <%= form_tag admin_categories_path, {method: :get} do %>
      <div><span>Name: </span><%= text_field_tag "name",
            params[:name], placeholder: "Search", autofocus: true %></div>
      <div><%= submit_tag "Search", class: "btn btn-primary", name: nil %></div>
    <% end %>
  <div class="span10 offset1">
    </div><%= will_paginate @categories %>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
    <%= link_to "New Category", new_admin_category_path, class: "btn btn-medium btn-primary" %>
  </div>
</div>