<h3><%= category.name %></h3>
<label><%= "You have learned #{category.results}/#{category.words.count}" %></label>
<p><%= category.description %></p>
<%= form_for category.lessons.build do |f| %>
  <%= f.hidden_field :category_id %>
  <%= f.hidden_field :user_id %>
  <%= f.submit "Start Lesson", class: "btn btn-medium btn-default" %>
<% end %>
<hr />