<%= form_for @category do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div><%= f.label :name %>
  <%= f.text_field :name, autofocus: true %></div>
  
  <div><%= f.submit label, class: "btn btn-primary" %>
  <%= link_to "Cancel", categories_path, class: "btn" %></div>
<% end %>