<div class="row">
  <div id="top">
    <%= link_to (image_tag asset_path("logo.png"), width: "150px", height: "100px",alt: "application logo", id: "logo"), root_path %>
    <ul id="top-nav">
      <% if user_signed_in? %>
        <li><%= link_to current_user.username.capitalize, edit_user_path(current_user) %></li>
        <li><%= link_to "Sign Out", sign_out_path %></li>
      <% else %>
        <li><%= link_to "Sign In", sign_in_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  </div>
  <div id="nav">
    <div class="nav nav-tabs">
      <% if user_signed_in? %>
        <% if admin? %>
        <%= active_link_to "Home", admin_path, active: :exclusive, wrap_tag: :li %>
        <%= active_link_to "Words", admin_words_path, wrap_tag: :li %>
        <%= active_link_to "Category", admin_categories_path, wrap_tag: :li %>
        <%= active_link_to "Users", admin_users_path, wrap_tag: :li %>
        <% else %>
        <%= active_link_to "Home", root_path, active: :exclusive,wrap_tag: :li %>
        <%= active_link_to "Word List", words_path, wrap_tag: :li %>
        <%= active_link_to "Category", categories_path, wrap_tag: :li %>
        <%= active_link_to "Lesson", lessons_path, wrap_tag: :li %>
        <%= active_link_to "Result", results_path, wrap_tag: :li %>
        <%= active_link_to "User Show", current_user, wrap_tag: :li %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>